
<div class="center">
<form 
name="form"
(ngSubmit)="f.form.valid"
#f="ngForm"
novalidate> 
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>usuario</mat-label>
        <input matInput [(ngModel)]="usuario.username" name="username" required>
      </mat-form-field>
    </div>
    
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password" name="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    
    
    </div>
      
    
    <div class="example-container">
      <button mat-button (click)="validarUsuario()">Ingresar</button>
    </div>
    </form>

  </div>